const dbSecrets = {
  DB_HOST: "localhost",
  DB_USER: "nodejs",
  DB_PASSWORD: "db",
  DB_NAME: "dev",
  DB_CONNECTION_LIMIT: 5,
};

const JWT_SECRET = "thisisthekey";

module.exports.dbSecrets = dbSecrets;
module.exports.JWT_SECRET = JWT_SECRET;
